#header {
    padding: 20px 0px;
}

#header a {
    width: max-content;
    margin: auto;
    display: block;
}

#header a img {
    display: block;
    margin: auto;
}

@media (max-width: 767px) {
    #header a img {
        width: 300px;
    }
}