section#modulo-03 {

    background: url(../../img/modulo-03/bg-01.png), url(../../img/modulo-03/bg-02.png), url(../../img/modulo-03/bg-03.png), url(../../img/modulo-03/bg-04.png);
    background-size: initial;
    background-repeat: no-repeat;
    background-position: top 40px left 40px, top right, left bottom, right bottom;
    background-color: $branco;
    padding: 60px 0px 120px 0px;

    @media (max-width: 767px) {
        padding: 40px 16px;
        box-sizing: border-box;
        background: url(../../img/modulo-03/bg-mob.png), url(../../img/modulo-03/bg-mob.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center, bottom center;
        background-color: $branco;
    }

    .div-flex {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            display: block;
        }

        .div-left {

            background: $branco;
            max-width: 570px;
            margin-right: 65px;

            @media (max-width: 767px) {
                background: none;
                max-width: 100%;
                margin: auto;
                margin-top: 25px;
            }

            .tx1 {
                color: $azul-escuro;

                @media (max-width: 767px) {
                    text-align: center;
                }
            }

            .divisoria {
                display: block;
                margin: 22px 0px;

                @media (max-width: 767px) {
                    margin: 22px auto;
                }
            }

            .tx2 {
                color: $cinza-escuro;

                b {
                    font-weight: bold;
                }

                @media (max-width: 767px) {
                    text-align: center;
                }
            }
        }

        .div-right {
            .foto-antes-depois {
                display: block;

                @media (max-width: 767px) {
                    width: 100%;
                }
            }

            .cta {
                margin-top: 18px;

                @media (max-width: 767px) {
                    margin-top: 10px;
                }
            }
        }
    }

    .divisoria-02 {
        display: block;
        margin: 50px auto;

        @media (max-width: 767px) {
            margin: 30px auto;
        }
    }

    .beneficios {

        @media (max-width: 767px) {
            margin-bottom: 50px;
        }

        .tx1 {
            text-align: center;
            color: $azul-escuro;

            @media (max-width: 767px) {
                max-width: 230px;
                margin: auto;
            }
        }

        .box-beneficios {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 740px;
            margin: auto;
            margin-top: 50px;
            background: $branco;
            border-radius: 30px;

            @media (max-width: 767px) {
                display: block;
                width: 100%;
                margin-top: 30px;
                background: none;
            }

            .item {
                display: flex;
                align-items: center;
                margin-bottom: 40px;

                @media (max-width: 767px) {
                    margin: 0px auto 20px auto !important;
                    width: 278px !important;
                }

                &:nth-child(1), &:nth-child(3), &:nth-child(5) {
                    margin-right: 50px;
                    width: 355px;
                }

                &:nth-child(6) {
                    width: 334px;
                }

                &:nth-child(5), &:nth-child(6) {
                    margin-bottom: 0;
                }

                .icone {
                    display: block;
                    margin-right: 22px;

                    @media (max-width: 767px) {
                        width: 50px;
                    }
                }

                .descript {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: $azul-medio;

                    @media (max-width: 767px) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

}