section#modulo-02 {

    background: $azul-escuro;
    padding: 60px 0px;

    @media (max-width: 767px) {
        padding: 40px 16px;
        box-sizing: border-box;
    }

    .grupo {
        .tx1 {
            text-align: center;
            color: $branco;
        }

        .tx2 {
            text-align: center;
            color: $branco;
            margin: 5px;

            @media (max-width: 767px) {
                margin: 10px auto;
            }
        }

        .tx3 {
            text-align: center;
            color: $amarelo;

            b {
                font-weight: bold;
            }
        }

        .div-flex {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 60px;

            @media (max-width: 767px) {
                display: block;
                margin-top: 40px;
            }

            .box {
                margin: 0px 40px;
                width: 277px;

                @media (max-width: 767px) {
                    margin: auto;
                    margin-bottom: 40px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
                
                .icon {
                    display: block;
                    margin: auto;

                    @media (max-width: 767px) {
                        width: 140px;
                    }
                }

                .descript {
                    margin-top: 20px;
                    text-align: center;
                    color: $branco;
                }
            }
        }
    }
}