section#modulo-09 {

    background-color: $cinza-claro;
    padding: 60px 0px;

    @media (max-width: 767px) {
        padding: 40px 16px;
        box-sizing: border-box;
    }

    .grupo {

        max-width: 633px;
        margin: auto;

        .tx1 {
            color: $azul-medio;
            text-align: center;
        }

        .tx2 {
            margin-top: 5px;
            color: $cinza-escuro;
            text-align: center;
        }

        .collapse {

            margin-top: 50px;

            @media (max-width: 767px) {
                margin-top: 40px;
            }

            .divFAQ {

                margin-bottom: 8px;
                border: solid 1px $branco;
                border-radius: 4px;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;

                &:hover {
                    border: solid 1px $azul-escuro;
                }

                .togglefaq {
                    text-decoration: none;

                    &.active {
                        .seta {
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }

                        .pergunta {
                            border-radius: 4px 4px 0px 0px !important;
                        }
                    }

                    .pergunta {
                        width: 100%;
                        background: $branco;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        padding: 15px 0px 15px 0px;
                        transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;

                        p {
                            font-family: Lato, sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            color: $azul-escuro;
                            padding-left: 20px;
                        }

                        .seta {
                            margin-left: auto;
                            margin-right: 20px;
                        }
                    }
                }

                .faqanswer {
                    display: none;
                    width: 100%;
                    padding: 14px 0px;
                    background: $branco;
                    border-radius: 0px 0px 4px 4px;
                    border-top: solid 1px $cinza-claro;

                    .resposta {

                        padding: 0px 20px;

                        p {
                            font-family: Lato, sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            color: #555555;
                        }
                    }
                }
            }
        }
    }

}