section#modulo-06 {

    background-color: $azul-escuro;
    padding: 60px 0px;

    @media (max-width: 767px) {
        padding: 40px 16px;
        box-sizing: border-box;
    }

    .grupo {
        width: 1165px;
        height: 460px;
        background: url(../../img/modulo-06/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 40px 0px;
        box-sizing: border-box;
        margin: auto;
        border-radius: 10px;

        @media (max-width: 767px) {
            width: 100%;
            height: auto;
            padding: 20px 0px;
        }

        .tx1 {
            color: $azul-escuro;
            max-width: 610px;
            margin: auto;
            text-align: center;

            @media (max-width: 767px) {
                padding: 0px 20px;
                box-sizing: border-box;
            }
        }

        .div-flex {
            
            width: 600px;
            margin: auto;
            margin-top: 44px;

            @media (max-width: 767px) {
                width: 100%;
            }

            .slick-list {
                @media (max-width: 767px) {
                    padding-left: 20px;
                    box-sizing: border-box;
                }
            }

            .slick-dots li button:before {
                font-size: 12px; 
                color: $cinza-medio;
                opacity: 1;
            }
    
            .slick-dots {
                position: initial;
                margin-top: 20px;
            }
    
            .slick-dots li {
                margin: 0 2px;
                display: inline-block;
            }
    
            .slick-dots li.slick-active button:before {
                opacity: 1;
                color: $azul-escuro;
            }

            .div-gif-01 {
                margin-right: 100px;
                width: 250px;
                height: 250px;
                border-radius: 4px;
                overflow: hidden;

                @media (max-width: 767px) {
                    margin: auto;
                    margin-right: 20px;
                }

                .gif-01 {
                    width: 100%;
                    margin-top: -32px;
                }
            }

            .div-gif-02 {
                width: 250px;
                height: 250px;
                border-radius: 4px;
                overflow: hidden;

                @media (max-width: 767px) {
                    margin: auto;
                }

                .gif-02 {
                    width: 100%;
                }
            }
        }
    }

}