section#modulo-07 {

    background-color: $azul-escuro;
    padding-bottom: 60px;

    @media (max-width: 767px) {
        padding: 0px 0px 40px 0px;
        box-sizing: border-box;
    }

    .tx1 {
        color: $amarelo;
        text-align: center;

        @media (max-width: 767px) {
            padding: 0px 16px;
            box-sizing: border-box;
        }
    }

    .tx2 {
        color: $branco;
        text-align: center;
        margin-top: 5px;

        @media (max-width: 767px) {
            padding: 0px 16px;
            box-sizing: border-box;
        }
    }

    .carrossel-comentarios-01 {

        margin: auto;
        margin-top: 50px;

        @media (max-width: 767px) {
            margin-top: 40px;
        }

        .slick-dots li button:before {
            font-size: 12px; 
            color: $branco;
            opacity: 1;
        }

        .slick-dots {
            position: initial;
            margin-top: 20px;
        }

        .slick-dots li {
            margin: 0 2px;
            display: inline-block;
        }

        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: $amarelo;
        }

        .step {
            overflow: hidden;

            .box-margin {
                background: $branco;
                display: flex;
                align-items: center;
                margin: 0px 20px;
                border-radius: 12px;
                overflow: hidden;
                width: 745px;

                @media (max-width: 767px) {
                    width: 300px;
                    display: block;
                    margin: 0px 8px;
                }

                .thumb {
                    display: block;

                    @media (max-width: 767px) {
                        display: none;
                    }
                }

                .thumb-mob {
                    display: none;

                    @media (max-width: 767px) {
                        display: block;
                        margin: auto;
                        width: 100%;
                    }
                }
    
                .div-comentario {
                    width: 500px;
                    height: 296px;
                    padding: 24px;
                    box-sizing: border-box;
                    background: url(../../img/modulo-07/aspas-01.svg), url(../../img/modulo-07/aspas-02.svg);
                    background-size: initial;
                    background-repeat: no-repeat;
                    background-position: left top, right bottom;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 767px) {
                        width: 100%;
                        background-size: 50px;
                        height: 200px;
                    }
    
                    p {
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: $cinza-escuro;

                        @media (max-width: 767px) {
                            text-align: center;
                            font-size: 14px;
                            line-height: 17px;
                        }
    
                        &.autor {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    .carrossel-comentarios-02 {

        width: 633px;
        margin: auto;
        margin-top: 50px;

        @media (max-width: 767px) {
            margin-top: 40px;
            width: 100%;
        }

        .slick-dots li button:before {
            font-size: 12px; 
            color: $branco;
            opacity: 1;
        }

        .slick-dots {
            position: initial;
            margin-top: 20px;
        }

        .slick-dots li {
            margin: 0 2px;
            display: inline-block;
        }

        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: $amarelo;
        }

        .slick-next {
            right: -100px;
            width: 94px;
            height: 94px;
            transform: none;
            bottom: 43px;
            top: 0;
            margin: auto;
        }
        .slick-prev {
            left: -100px;
            width: 94px;
            height: 94px;
            transform: none;
            bottom: 43px;
            top: 0;
            margin: auto;
        }

        .slick-prev:before, .slick-next:before {
            // opacity: 1;
        }
        .slick-prev.slick-arrow:before {
            content: url(../../img/modulo-07/arrow-left02.svg);
        }
        .slick-next.slick-arrow:before {
            content: url(../../img/modulo-07/arrow-right02.svg);
        }

        .step {
            overflow: hidden;
            margin: 0px 20px;

            @media (max-width: 767px) {
                margin: 0;
            }

            .box-margin {
                background: $branco;
                display: flex;
                align-items: center;
                border-radius: 12px;
                overflow: hidden;
                width: 100%;

                @media (max-width: 767px) {
                    display: block;
                    margin: 0px 8px;
                    width: 300px;
                }
    
                .div-comentario {
                    width: 100%;
                    height: 296px;
                    padding: 24px 90px;
                    box-sizing: border-box;
                    background: url(../../img/modulo-07/aspas-01.svg), url(../../img/modulo-07/aspas-02.svg);
                    background-size: initial;
                    background-repeat: no-repeat;
                    background-position: left top, right bottom;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 767px) {
                        background-size: 50px;
                        height: 200px;
                        box-sizing: border-box;
                        padding: 24px;
                    }
    
                    p {
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: $cinza-escuro;
                        text-align: center;

                        @media (max-width: 767px) {
                            font-size: 14px;
                            line-height: 17px;
                        }
    
                        &.autor {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

}