section#modulo-10 {

    background: url(../../img/modulo-10/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $azul-medio;
    padding: 24px 0px;
    height: 128px;
    box-sizing: border-box;

    @media (max-width: 767px) {
        padding: 20px 16px 40px 16px;
        box-sizing: border-box;
        background: url(../../img/modulo-10/bg-mob.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $azul-medio;
        height: 246px;
    }

    .grupo {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        form {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 767px) {
                display: block;
            }

            .div-01 {
                .tx1 {
                    width: 144px;
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: $branco;

                    @media (max-width: 767px) {
                        width: 275px;
                        margin: auto;
                        text-align: center;
                    }
                }
            }

            .div-02 {

                width: 327px;
                margin: 0px 50px;

                @media (max-width: 767px) {
                    width: 100%;
                    margin: auto;
                    margin-top: 30px;
                }

                .form-group {

					label {
						font-family: 'Lato', sans-serif;
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 16px;
						color: $branco;
						display: block;
						margin-bottom: 8px;
					}

					input {
						width: 100%;
						min-height: 40px;
						border: 1px solid $branco;
						border-radius: 4px;
						font-family: 'Lato', sans-serif;
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: $cinza-escuro;
                        background: $branco;
						padding: 10px;
						box-sizing: border-box;
                        transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;

                        &:focus {
                            border: 1px solid $amarelo;
                        }
					}
				}
            }

            .div-03 {

                padding-top: 25px;

                @media (max-width: 767px) {
                    padding-top: 10px;
                }

                .cta {
                    height: 40px;
                    line-height: 40px;
                    width: 250px;
                    background: #FFCC00;
                    color: $cinza-escuro;

                    &:hover {
                        background: #e2b500;
                    }

                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }

        .feedback {
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #FFFFFF;

                img {
                    display: block;
                    margin-right: 10px;
                }
            }
        }
    }

}