section#modulo-04 {

    background-color: $azul-escuro;
    padding: 60px 0px;

    @media (max-width: 767px) {
        padding: 40px 16px;
        box-sizing: border-box;
    }

    .grupo {
        .tx1 {
            color: $amarelo;
            text-align: center;

            @media (max-width: 767px) {
                max-width: 250px;
                margin: auto;
            }
        }

        .divisoria {
            display: block;
            margin: 50px auto;

            @media (max-width: 767px) {
                margin: 30px auto;
            }
        }

        .box-produtos {

            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 767px) {
                display: block;
            }

            .card {

                width: 355px;
                margin: 0px 25px;

                @media (max-width: 767px) {
                    width: 100%;
                    max-width: 355px;
                    margin: 0px auto;
                    margin-bottom: 30px;
                }

                @media (min-width: 768px) and (max-width: 1180px) {
                    margin: 0px 5px; 
                }

                .bg-white {
                    background: $branco;
                    border-radius: 5px;
                    padding: 20px 0px;

                    .destaque {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .texto-destaque {
                            background: $amarelo;
                            box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.1);
                            border-radius: 0px 100px 100px 0px;
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            color: $azul-escuro;
                            padding: 10px 20px;

                            @media (max-width: 767px) {
                                font-size: 14px;
                                line-height: 18px;
                            }
                        }

                        .frete-gratis {
                            display: block;
                            margin-right: 17px;

                            @media (max-width: 767px) {
                                width: 100px;
                            }
                        }
                    }

                    .foto-produto {

                        margin-top: 24px;
                        border-radius: 10px;

                        .foto-destaque-produto {
                            display: block;
                            margin: auto;

                            @media (max-width: 767px) {
                                width: 200px;
                            }
                        }
                    }

                    .nome-produto {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 22px;
                        line-height: 22px;
                        text-align: center;
                        color: $azul-escuro;
                        margin-top: 14px;
                    }

                    .preco-de {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16.1141px;
                        line-height: 18px;
                        text-align: center;
                        color: $cinza-medio;
                        margin-top: 14px;

                        span {
                            text-decoration: line-through;
                        }
                    }

                    .novo-preco {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        text-align: center;
                        color: $azul-medio;
                        margin-top: 5px;

                        .parcelamento {
                            font-size: 18.2983px;
                            margin-right: 15px;
                        }

                        .rs {
                            font-size: 30px;
                            margin-right: 10px;
                        }

                        .preco-integral {
                            font-size: 56px;
                        }

                        .preco-decimal {
                            font-size: 18.2983px;
                        }
                    }

                    .preco-total {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: $cinza-escuro;
                        margin-top: 5px;
                    }

                    .economize {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 15px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: #FFFFFF;
                        background: $azul-medio;
                        width: max-content;
                        border-radius: 144.321px;
                        padding: 4px 8px;
                        margin: auto;
                        margin-top: 10px;

                        img {
                            display: block;
                            margin-right: 5px;
                        }
                    }

                    .tamanho {

                        width: 306px;
                        margin: auto;
                        margin-top: 6px;

                        @media (max-width: 367px) {
                            width: 265px;
                        }

                        .txt {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            color: $azul-medio;
                        }

                        .box-tamanhos {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 6px;

                            .tam {
                                width: 42px;
                                height: 30px;
                                font-family: 'Lato', sans-serif;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 30px;
                                text-align: center;
                                color: $azul-escuro;
                                border: 1.5px solid $azul-escuro;
                                border-radius: 4px;
                                cursor: pointer;
                                margin: 0px 10px;
                                -webkit-transition: all .2s ease-in-out;
                                -o-transition: all .2s ease-in-out;
                                text-transform: uppercase;

                                &:nth-child(1) {
                                    margin-left: 0;
                                }

                                &:nth-child(5) {
                                    margin-right: 0;
                                }

                                &:hover {
                                    background: $azul-escuro;
                                    color: $branco;
                                }

                                &.active {
                                    background: $azul-escuro;
                                    color: $branco;
                                }

                                @media (max-width: 367px) {
                                    margin: 0px 5px;
                                }
                            }
                        }

                        .alerta {
                            font-family: 'Montserrat',sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 12px;
                            text-align: center;
                            color: #ca0202;
                            margin-top: 11px;
                        }
                    }
                }

                .cta {
                    width: 100%;
                    margin-top: 14px;
                }
            }
        }

        .defesa {
            margin-top: 40px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: $branco;
        }
    }

}

.tremer {
    animation: tremer 0.1s;
    animation-iteration-count: 3;
}

@keyframes tremer {
0% {margin-left: 0;}
25% {margin-left: 5px;}
50% {margin-left: 0;}
75% {margin-left: -5px;}
100% {margin-left: 0;}
}