section#modulo-01 {
    height: 600px;
    width: 100%;
    background: url(../../img/modulo-01/bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
        background: url(../../img/modulo-01/bg-mob.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        padding: 40px 0px;
    }

    .grupo {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            display: block;
        }

        .foto-produto {
            display: block;
            margin-right: 70px;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .div-conteudo {
            .logo-cuecas {
                display: block;
                margin: auto;

                @media (max-width: 767px) {
                    width: 300px;
                }
            }

            .foto-produto-mob {
                display: none;

                @media (max-width: 767px) {
                    width: 262px;
                    display: block;
                    margin: auto;
                    margin-top: 25px;
                }
            }

            .list {

                width: 355px;
                margin: auto;
                margin-top: 15px;

                @media (max-width: 767px) {
                    width: 295px;
                    margin-top: 32px;
                }

                p {

                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;

                    .check {
                        display: block;
                        margin-right: 10px;

                        @media (max-width: 767px) {
                            width: 21px;
                        }
                    }

                    span {
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16.8468px;
                        line-height: 25px;
                        color: $branco;

                        @media (max-width: 767px) {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }
            }

            .cta {
                margin-top: 32px;
                margin-left: 66px;
                width: 343px;

                @media (max-width: 767px) {
                    width: 100%;
                    margin: auto;
                    margin-top: 32px;
                }
            }
        }
    }
}