section#modulo-01 {
    height: 600px;
    width: 100%;
    background: url(../../img/modulo-01/bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
        background: url(../../img/modulo-01/bg-mob.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        padding: 40px 0px;
    }

    .grupo {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            display: block;
        }

        .foto-produto {
            display: block;
            margin-right: 70px;

            @media (max-width: 767px) {
                display: none;
            }

            @media (min-width: 768px) and (max-width: 1180px) {
                width: 400px;
            }
        }

        .div-conteudo {
            .logo-cuecas {
                display: block;
                margin: auto;

                @media (max-width: 767px) {
                    width: 300px;
                }
            }

            .foto-produto-mob {
                display: none;

                @media (max-width: 767px) {
                    width: 262px;
                    display: block;
                    margin: auto;
                    margin-top: 25px;
                }
            }

            .list {

                width: 355px;
                margin: auto;
                margin-top: 15px;

                @media (max-width: 767px) {
                    width: 295px;
                    margin-top: 32px;
                }

                p {

                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;

                    .check {
                        display: block;
                        margin-right: 10px;

                        @media (max-width: 767px) {
                            width: 21px;
                        }
                    }

                    span {
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16.8468px;
                        line-height: 25px;
                        color: $branco;

                        @media (max-width: 767px) {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }
            }

            .cta {
                margin-top: 32px;
                margin-left: 66px;
                width: 343px;

                @media (max-width: 767px) {
                    width: 100%;
                    margin: auto;
                    margin-top: 32px;
                }
            }
        }
    }
}

#barra-fixa-compra {
    display: none;

    @media (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 0px;
        position: fixed;
        bottom: 0;
        background: url(../../img/outros/bg-barra-fixa-02.png), url(../../img/outros/bg-barra-fixa.png);
        background-size: initial;
        background-repeat: no-repeat;
        background-position: left bottom, right center;
        background-color: $branco;
        z-index: 10;
        box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.17);
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
        overflow: hidden;

        &.height-active {
	        height: 80px;
	        overflow: initial;
	    }
    }

    .grupo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .logo-cuecas-magnoterapia-alpha {
            display: block;
        }

        .cta {
            height: 40px;
            line-height: 40px;
            width: 174px;
            margin: 0;
        }
    }
}