@-webkit-keyframes loaderHomeFirstImage {
  0% {
    left: 0px;
  }
  100% {
    left: 104px;
  }
}
@-moz-keyframes loaderHomeFirstImage {
  0% {
    left: 0px;
  }
  100% {
    left: 104px;
  }
}
@-o-keyframes loaderHomeFirstImage {
  0% {
    left: 0px;
  }
  100% {
    left: 104px;
  }
}
@keyframes loaderHomeFirstImage {
  0% {
    left: 0px;
  }
  100% {
    left: 104px;
  }
}

@-webkit-keyframes loaderHomeSecondImage {
  0% {
    left: 0px;
  }
  100% {
    left: -104px;
  }
}
@-moz-keyframes loaderHomeSecondImage {
  0% {
    left: 0px;
  }
  100% {
    left: -104px;
  }
}
@-o-keyframes loaderHomeSecondImage {
  0% {
    left: 0px;
  }
  100% {
    left: -104px;
  }
}
@keyframes loaderHomeSecondImage {
  0% {
    left: 0px;
  }
  100% {
    left: -104px;
  }
}

@-webkit-keyframes bounceDots {
  0% {
    top: 0px;
    opacity: 0.5;
  }
  50% {
    top: 3px;
    opacity: 1;
  }
  100% {
    top: -3px;
    opacity: 0.5;
  }
}
@-moz-keyframes bounceDots {
  0% {
    top: 0px;
    opacity: 0.5;
  }
  50% {
    top: 3px;
    opacity: 1;
  }
  100% {
    top: -3px;
    opacity: 0.5;
  }
}
@-o-keyframes bounceDots {
  0% {
    top: 0px;
    opacity: 0.5;
  }
  50% {
    top: 3px;
    opacity: 1;
  }
  100% {
    top: -3px;
    opacity: 0.5;
  }
}
@keyframes bounceDots {
  0% {
    top: 0px;
    opacity: 0.5;
  }
  50% {
    top: 3px;
    opacity: 1;
  }
  100% {
    top: -3px;
    opacity: 0.5;
  }
}