footer#footer {

    background: $dark;
    
    .grupo-01 {

        padding: 20px 0px;

        img {
            display: block;
            margin: auto;

            @media (max-width: 767px) {
                width: 100px;
            }
        }
    }

    .grupo-02 {
        background: $verde;
        padding: 5px 0px;

        p {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $preto;
            text-align: center;

            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
    }

}