section#modulo2 {

    background: #070707;
    padding-top: 130px;

    @media (max-width: 767px) {
        padding-top: 80px;
    }

	.grupo {

		position: relative;
		overflow: hidden;

		.titulo-tx1 {
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 13px;
			color: #FFFFFF;
			text-align: center;

			@media (max-width: 767px) {
		        font-size: 16px;
				line-height: 20px;
		    }
		}

		.descript-tx2 {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 48px;
			line-height: 52px;
			color: #ED145B;
			margin-top: 13px;
			text-align: center;

			@media (max-width: 767px) {
		        font-size: 35px;
				line-height: 40px;
		    }
		}

		#ondas-bg {
			position: absolute;
		    width: 110%;
		    overflow: hidden;
		    top: 250px; 
		    transform: rotate(9deg); 
		    margin-left: -60px;

		    @media (max-width: 767px) {
		        width: 100%;
		        transform: none;
		        margin: auto;
		        top: 300px;
		    }

		    .waves {
		        position:relative;
		        width: 100%;
		        height:15vh;
		        margin-bottom:-7px; /*Fix for safari gap*/
		        min-height:100px;
		        max-height:150px;
		    }

		    .div-rosa {
		    	width: 100%;
		    	background: #ED145B;
		    	height: 150px;
		    }

		    .waves02 {
		        transform: rotate(180deg);
		    }

		    /* Animation */

		    .parallax > use {
		        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
		    }
		    .parallax > use:nth-child(1) {
		        animation-delay: -2s;
		        animation-duration: 7s;
		    }
		    .parallax > use:nth-child(2) {
		        animation-delay: -3s;
		        animation-duration: 10s;
		    }
		    .parallax > use:nth-child(3) {
		        animation-delay: -4s;
		        animation-duration: 13s;
		    }
		    .parallax > use:nth-child(4) {
		        animation-delay: -5s;
		        animation-duration: 20s;
		    }

		    @keyframes move-forever {
		        0% {
		            transform: translate3d(-90px,0,0);
		        }
		        100% { 
		            transform: translate3d(85px,0,0);
		        }
		    }

		    @media (max-width: 768px) {
		        .waves {
		            height:40px;
		            min-height:40px;
		        }
		    }
		}

		/* FIM WAVES */

		.slideSobreTipos {
			margin-top: 150px;

			@media (max-width: 767px) {
		        margin-top: 50px;
		        width: 100%;

		        .slick-dots li button:before {
		            font-size: 12px; 
		            color: #fff;
		            opacity: 1;
		        }
		        .slick-dots {
		        	bottom: 20px;
		        	height: 40px;
		        	z-index: 2;
		        }
		        .slick-dots li {
		            margin: 0 4px;
		            margin-top: 11px;
		        }
		        .slick-dots li.slick-active button:before {
		            opacity: 1;
		            color: #ED145B;
		        }
		    }

		    @media (min-width: 768px) and (max-width: 1100px) {
				margin-top: 80px;
			}

			.slick-track {
				padding-bottom: 200px;

				@media (max-width: 767px) {
			        padding-bottom: 80px;
			    }

			    @media (min-width: 768px) and (max-width: 1100px) {
					padding-bottom: 80px;
				}
			}

			.slick-next {

	        	right: 277px;
	        	width: auto;
	        	height: auto;
	        	z-index: 9;
	        	margin-top: -100px;

	        	&::before {
	        		content: url('../../img/slider-arrow-right.svg');
	        		opacity: 1;
	        	}

	        	@media (min-width: 768px) and (max-width: 1100px) {
					right: 50px;
					margin-top: -40px;
				}
	        }

	        .slick-prev {

	        	left: 277px;
	        	width: auto;
	        	height: auto;
	        	z-index: 9;
	        	margin-top: -100px;

	        	&::before {
	        		content: url('../../img/slider-arrow-left.svg');
	        		opacity: 1;
	        	}

	        	@media (min-width: 768px) and (max-width: 1100px) {
					left: 50px;
					margin-top: -40px;
				}
	        }

			.box {
				.div-flex {
					display: flex;
					align-items: center;
					justify-content: center;

					@media (max-width: 767px) {
				        display: block;
				        padding: 0px 16px;
				    }

					.foto-area {
						width: 600px;
						height: 500px;
						background-size: cover !important;
						background-position: center center !important;
						background-repeat: no-repeat !important;
						border-radius: 4px;

						@media (max-width: 767px) {
					        width: 100%;
					        height: 200px;
					    }
					}

					.box-textos {
						box-sizing: border-box;
						padding: 40px;
						background: #141414;
						border-radius: 4px;
						max-width: 470px;
						margin-left: -100px;

						@media (max-width: 767px) {
					        margin: auto;
					    }

						.tx1 {
							font-family: 'Roboto', sans-serif;
							font-style: normal;
							font-weight: 500;
							font-size: 24px;
							line-height: 17px;
							color: #FFFFFF;

							@media (max-width: 767px) {
						        font-size: 20px;
								line-height: 20px;
						    }
						}

						.tx2 {
							font-family: 'Montserrat', sans-serif;
							font-style: normal;
							font-weight: 500;
							font-size: 18px;
							line-height: 24px;
							color: #717171;
							margin-top: 24px;

							@media (max-width: 767px) {
						        font-size: 16px;
								line-height: 20px;
						    }
						}
					}
				}
			}
		}
	}

}