* {
    box-sizing: border-box;
}

body {
    max-width: 100vw !important;
    overflow-x: hidden;
    height: 100vh;
    background-image: url(../../img/cielo/beneficios-cielo.png), url(../../img/cielo/beneficios-cielo-2.png), linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(103,176,243,1) 80%, rgba(1,124,235,1) 100%);
    background-size: initial;
    background-position: left bottom, right top -70px;
    background-repeat: no-repeat;

    &.loader {
        background-color: #573D90;
        transition: 2s;
    }

    &.match {
        background-color: #F4F4F4;
        background-image: unset !important;
        transition: 2s;
    }

    @media (max-width: 767px) {
        background-image: url(../../img/bg-m.png);
    }
}

.xp-show-d, .xp-show-m {
    display: none !important;
}

.cuponeria {
    display: none !important;
}