#match_screen {
    display: none;

    .header {
        padding: 0 15px;
        background-color: #573D90;
        font-family: Lato, sans-serif;
        font-size: 16px;
        line-height: 70px;
        text-align: center;
        color: #FFFFFF;

        @media (max-width: 767px) {
            display: none;
        }
    }
    .wrapper {
        width: 100%;
        max-width: 742px;
        margin: 100px auto;
        background-color: #6F55A8;

        @media (max-width: 767px) {
            margin: 0;
            max-width: unset;
        }

        .club_wraper {
            .match {
                display: none;

                > img {
                    width: 100% !important;

                    @media (max-width: 767px) {
                        &:nth-child(1) {
                            display: none;
                        }
                    }

                    @media (min-width: 768px) {
                        &:nth-child(2) {
                            display: none;
                        }                    
                    }
                }

                .description {
                    padding: 32px 15px 0;
                    text-align: center;

                    h2 {
                        font-family: neo-sans, sans-serif;
                        font-size: 18px;
                        line-height: 24px;
                        color: #FFFFFF;
                        margin-bottom: 16px;
                    }

                    p {
                        font-family: Lato, sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                        color: #FFFFFF;
                    }
                }

                .slider_container {
                    padding: 32px 15px 46px !important;

                    &.second {
                        background-color: #573D90;

                        .slideCard {
                            background-color: #6F55A8 !important;
                        }
                    }

                    h2 {
                        font-family: neo-sans, sans-serif;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 32px;
                        text-align: center;
                        color: #FFFFFF;
                        margin-bottom: 16px;
                    }
                }
            }
        }

        .controls {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 15px 40px;

            p {
                font-family: Lato, sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 30px;
            }

            .btn_match {
                width: 49%;
                border-radius: 4px;
                font-family: Lato, sans-serif;
                font-size: 16px;
                line-height: 48px;
                transition: .2s;
                
                @media (max-width: 767px) {
                    width: 100%;
                }
                
                &.yes {
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
                    background-color: #FFFFFF;
                    border: none;
                    font-weight: bold;
                    color: #C81A78;

                    @media (max-width: 767px) {
                        margin-bottom: 8px;
                    }

                    &:hover {
                        background-color: #C81A78;
                        color: #FFFFFF;
                    }
                }

                &.no {
                    background-color: transparent;
                    border: none;
                    font-weight: 400;
                    color: #FFFFFF;
                }
            }
        }
    }
}


.slider {
    display: flex;
    justify-content: center;

    .slideCard {
        width: 100%;
        min-height: 371px;
        padding: 16px;
        text-align: center;
        border-radius: 16px;
        background-color: #573D90;

        &:not(:last-child) {
            margin-right: 18px;
        }

        h3 {
            font-family: neo-sans, sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #FDE8D9;
        }

        img {
            display: unset;
            height: 150px;
            margin: 22px 0;
        }

        p {
            font-family: Lato, sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }


    .slick-slide {
        margin: 0 6px;
        
        @media (max-width: 767px) {
            margin-left: 15px;
        }
    }


    .slick-dots{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        
        li{
            button{
                height: 9px;
                width: 9px;
                background-color: #ddd;
                border: 1px solid #ddd;
                margin-top: 20px;
                opacity: 1;
                color: transparent;
                border-radius: 100%;
                padding: 0;
                transition: .3s;
    
                &:before {
                    font-size: 0;
                    line-height: 20px;
                    width: 0;
                    height: 0;
                    opacity: .25;
                    color: #000;
                }
            }
    
            &.slick-active{
                button{
                    height: 9px;
                    width: 17px;
                    color: transparent;
                    background-color: #b6116e;
                    border: 1px solid #b6116e;
                    border-radius: 10px;
                    margin-left: -3px;
                }
            }
        }
    }
}


