footer#footer {

    .box-01 {

        width: 100%;
        padding: 40px 0px;
        background: $gradiente;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            display: block;
        }

        .logo-portal-como-emagrecer {
            width: 205px;
            display: block;
            margin-right: 200px;
    
            @media (max-width: 767px) {
                margin: auto;
            }
    
            img {
                display: block;
                margin: auto;
            }
        }
    
        .links {
            display: flex;
            align-items: center;
            justify-content: center;
    
            @media (max-width: 767px) {
                display: block;
                margin-top: 30px;
            }
    
            a {
                display: block;
                width: max-content;
                text-decoration: none;
                margin: 0px 40px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $branco;
    
                @media (max-width: 767px) {
                    margin: 20px auto 0px auto;
    
                    &:nth-child(1) {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .box-02 {
        background: $verde-escuro;
        padding: 10px;

        p {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: $branco;
        }
    }
    
}