footer#footer {

    width: 100%;
    padding: 40px 0px;
    background: $gradiente;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
        
    }

    .logo-portal-como-emagrecer {
        width: 205px;
        display: block;

        img {
            display: block;
            margin: auto;
        }
    }

    .links {
        margin: 0px 220px;
    }
    
}