footer#footer {

    width: 100%;
    padding: 40px 0px;
    background: $gradiente;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
        display: block;
    }

    .logo-portal-como-emagrecer {
        width: 205px;
        display: block;

        @media (max-width: 767px) {
            margin: auto;
        }

        img {
            display: block;
            margin: auto;
        }
    }

    .links {
        margin: 0px 160px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            display: block;
            margin: 30px auto 0px auto;
        }

        a {
            display: block;
            width: max-content;
            text-decoration: none;
            margin: 0px 40px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $branco;

            @media (max-width: 767px) {
                margin: 20px auto 0px auto;

                &:nth-child(1) {
                    margin-top: 0;
                }
            }
        }
    }

    .social {

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            margin: 30px auto 0px auto;
        }

        a {
            text-decoration: none;
            display: block;
            width: max-content;
        }
    }
    
}